<h1>DBZ Personajes</h1>
<hr />

<div class="row">
    <div class="col">
        <!--
            El valor de una propiedad del componente padre al hijo se realiza desde la declaracion del componente hijo, añadiendo un par clave-valor.
                ** clave = Identificador de la propiedad en el componente hijo
                ** valor = Valor de la propiedad en el componente padre
        -->
        <dbz-list [charactersList]="characters"></dbz-list>
    </div>
    <div class="col">
        <dbz-form></dbz-form>
    </div>
</div>
